<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="utf-8" />

	<title>Quimba | Book Laboratory Service</title>
	<meta name="description" content="Select2 dropdown examples" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!--begin::Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Raleway:300,400,500,600,700" />
	<!--end::Fonts -->

	<!--begin::Global Theme Styles(used by all pages) -->
	<link href="../../../themes/keen/theme/demo5/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="../../../themes/keen/theme/demo5/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Theme Styles -->

	<!--begin::Layout Skins(used by all pages) -->

	<link href="../../../themes/keen/theme/demo5/dist/assets/css/skins/header/navy.css" rel="stylesheet" type="text/css" />
	<!--end::Layout Skins -->

	<link rel="shortcut icon" href="https://preview.keenthemes.com//keen/themes/keen/theme/demo5/dist/assets/media/logos/favicon.ico" />

	<!-- Hotjar Tracking Code for keenthemes.com -->
	<script>
		(function (h, o, t, j, a, r) {
			h.hj =
					h.hj ||
					function () {
						(h.hj.q = h.hj.q || []).push(arguments);
					};
			h._hjSettings = { hjid: 1070954, hjsv: 6 };
			a = o.getElementsByTagName("head")[0];
			r = o.createElement("script");
			r.async = 1;
			r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
			a.appendChild(r);
		})(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());
		gtag("config", "UA-37564768-1");
	</script>
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body
		class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader-mobile--fixed kt-aside--enabled kt-aside--left kt-aside--fixed kt-aside--offcanvas-default kt-page--loading"
>
<!-- begin:: Page -->
<!-- begin:: Header Mobile -->
<div th:replace="templates/fragments :: xmobile_header"></div>
<!-- end:: Header Mobile -->
	<div class="kt-grid kt-grid--hor kt-grid--root">
		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
				<!-- begin:: Header -->
					<div th:replace="templates/fragments::xheader"></div>
				<!-- end:: Header -->
									<!-- begin:: Subheader -->
					<div id="kt_subheader" class="kt-subheader kt-grid__item " >
						<div class="kt-container  kt-container--fluid ">
							<!-- begin:: Subheader Title -->
						<div class="kt-subheader__title">
						<button class="kt-subheader__toggler kt-subheader__toggler--left" id="kt_aside_toggler"><span></span></button>
									<div class="kt-subheader__breadcrumbs">
																<a href="#" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--home">Extended</a>
																	<span class="kt-subheader__breadcrumbs-separator"></span>
											<a href="#" class="kt-subheader__breadcrumbs-link ">Forms</a>
																	<span class="kt-subheader__breadcrumbs-separator"></span>
											<a href="#" class="kt-subheader__breadcrumbs-link ">Widgets</a>
																	<span class="kt-subheader__breadcrumbs-separator"></span>
											<a href="#" class="kt-subheader__breadcrumbs-link ">Select2</a>
								</div>
						</div>
<!-- end:: Subheader Title -->
		<!-- begin:: Sub-header toolbar -->
			<div th:replace="templates/fragments::xtoolbar"></div>
		<!-- end:: Sub-header toolbar -->
				</div>
			</div>
			<!-- end:: Subheader -->
			<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
				<!-- begin:: Content -->
				<div class="kt-container kt-grid__item kt-grid__item--fluid md-col-6">
					<div class="row">
						<div class="col">
							<div class="alert alert-light alert-elevate fade show" role="alert">
								<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
								<div class="alert-text">
									Select2 is a jQuery based replacement for select boxes. It supports searching, remote data sets, and infinite scrolling of results. Select2 gives you a customizable select box with support for
									searching, tagging, remote data sets, infinite scrolling, and many other highly used options.
									<br />
									For more info please visit the plugin's <a class="kt-link kt-font-bold" href="https://select2.org/getting-started/basic-usage" target="_blank">Demo Page</a> or
									<a class="kt-link kt-font-bold" href="https://github.com/select2/select2" target="_blank">Github Repo</a>.
								</div>
							</div>
						</div>
					</div>

					<!--begin::Portlet-->
					<div class="kt-portlet">
						<div class="kt-portlet__head">
							<div class="kt-portlet__head-label">
								<h3 class="kt-portlet__head-title">
									Book Laboratory Service
								</h3>
							</div>
						</div>
						<!--begin::Form-->

						<!--/*@thymesVar id="inv_groups" type="ng.com.bitsystems.mis.models.laboratories.InvestigationGroups"*/-->
						<!--/*@thymesVar id="ref" type="ng.com.bitsystems.mis.models.referrals.Referrals"*/-->

						<form class="kt-form kt-form--fit kt-form--label-right">
							<div class="kt-portlet__body">
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Referral</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_1" name="param">
											<option th:each="ref: ${referrals}" value="${ref.id}" th:text="${ref.firstName}+ ' '+ ${ref.lastName} + ' ('+ ${ref.organisation} +')'"></option>

										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Add Package</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_2" name="param">
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV" selected>Nevada</option>
												<option value="OR">Oregon</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NM">New Mexico</option>
												<option value="ND">North Dakota</option>
												<option value="UT">Utah</option>
												<option value="WY">Wyoming</option>
											</optgroup>
											<optgroup label="Central Time Zone">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="IL">Illinois</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="OK">Oklahoma</option>
												<option value="SD">South Dakota</option>
												<option value="TX">Texas</option>
												<option value="TN">Tennessee</option>
												<option value="WI">Wisconsin</option>
											</optgroup>
											<optgroup label="Eastern Time Zone">
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="IN">Indiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="OH">Ohio</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WV">West Virginia</option>
											</optgroup>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Multi Select Investigations</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_3"
												onchange="console.log($('select#kt_select2_3').val())" name="param" multiple="multiple">
											<optgroup th:each="inv : ${investigationGroups}" th:label="${inv.grpName}">
												<option th:each="lab : ${inv.laboratoryInvestigations}" th:value="${lab.id}" th:text="${lab.title}"> </option>
												<!--<option value="NV" selected>Nevada</option>-->
											</optgroup>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Placeholder</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_4" name="param">
											<option></option>
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV">Nevada</option>
												<option value="OR">Oregon</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NM">New Mexico</option>
												<option value="ND">North Dakota</option>
												<option value="UT">Utah</option>
												<option value="WY">Wyoming</option>
											</optgroup>
											<optgroup label="Central Time Zone">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="IL">Illinois</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="OK">Oklahoma</option>
												<option value="SD">South Dakota</option>
												<option value="TX">Texas</option>
												<option value="TN">Tennessee</option>
												<option value="WI">Wisconsin</option>
											</optgroup>

											<optgroup label="Eastern Time Zone">
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="IN">Indiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="OH">Ohio</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WV">West Virginia</option>
											</optgroup>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Array Data</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_5" name="param">
											<option value="2" selected="selected">Duplicate</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Remote Data</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_6" name="param">
											<option></option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Disabled Mode</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_7" disabled name="param">
											<option></option>
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV" selected>Nevada</option>
												<option value="OR">Oregon</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NM">New Mexico</option>
												<option value="ND">North Dakota</option>
												<option value="UT">Utah</option>
												<option value="WY">Wyoming</option>
											</optgroup>
											<optgroup label="Central Time Zone">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="IL">Illinois</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="OK">Oklahoma</option>
												<option value="SD">South Dakota</option>
												<option value="TX">Texas</option>
												<option value="TN">Tennessee</option>
												<option value="WI">Wisconsin</option>
											</optgroup>
											<optgroup label="Eastern Time Zone">
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="IN">Indiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="OH">Ohio</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WV">West Virginia</option>
											</optgroup>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Disabled Results</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_8" name="param">
											<option></option>
											<option value="one">First</option>
											<option value="two" disabled="disabled">Second (disabled)</option>
											<option value="three">Third</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Limiting Selections</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_9" name="param" multiple>
											<option></option>
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV" selected>Nevada</option>
												<option value="OR">Oregon</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NM">New Mexico</option>
												<option value="ND">North Dakota</option>
												<option value="UT">Utah</option>
												<option value="WY">Wyoming</option>
											</optgroup>
											<optgroup label="Central Time Zone">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="IL">Illinois</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="OK">Oklahoma</option>
												<option value="SD">South Dakota</option>
												<option value="TX">Texas</option>
												<option value="TN">Tennessee</option>
												<option value="WI">Wisconsin</option>
											</optgroup>
											<optgroup label="Eastern Time Zone">
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="IN">Indiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="OH">Ohio</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WV">West Virginia</option>
											</optgroup>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Hiding Search box</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_10" name="param">
											<option></option>
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV">Nevada</option>
												<option value="OR">Oregon</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NM">New Mexico</option>
												<option value="ND">North Dakota</option>
												<option value="UT">Utah</option>
												<option value="WY">Wyoming</option>
											</optgroup>
											<optgroup label="Central Time Zone">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="IL">Illinois</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="OK">Oklahoma</option>
												<option value="SD">South Dakota</option>
												<option value="TX">Texas</option>
												<option value="TN">Tennessee</option>
												<option value="WI">Wisconsin</option>
											</optgroup>
											<optgroup label="Eastern Time Zone">
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="IN">Indiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="OH">Ohio</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WV">West Virginia</option>
											</optgroup>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Tagging Support</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control kt-select2" id="kt_select2_11" multiple name="param">
											<option></option>
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV">Nevada</option>
												<option value="OR">Oregon</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NM">New Mexico</option>
												<option value="ND">North Dakota</option>
												<option value="UT">Utah</option>
												<option value="WY">Wyoming</option>
											</optgroup>
											<optgroup label="Central Time Zone">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="IL">Illinois</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="OK">Oklahoma</option>
												<option value="SD">South Dakota</option>
												<option value="TX">Texas</option>
												<option value="TN">Tennessee</option>
												<option value="WI">Wisconsin</option>
											</optgroup>
											<optgroup label="Eastern Time Zone">
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="IN">Indiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="OH">Ohio</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WV">West Virginia</option>
											</optgroup>
										</select>
									</div>
								</div>

<!--								<div class="form-group row">-->
<!--									<label class="col-form-label col-lg-3 col-sm-12">Input Group</label>-->
<!--									<div class="col-lg-4 col-md-9 col-sm-12">-->
<!--										<div class="input-group flex-nowrap mb-3">-->
<!--											<div class="input-group-prepend">-->
<!--												<span class="input-group-text" id="basic-addon1"><i class="flaticon2-sms"></i></span>-->
<!--											</div>-->
<!--											<select class="form-control kt-select2" id="kt_select2_group_1" name="param">-->
<!--												<option value="AK">Alaska</option>-->
<!--												<option value="HI">Hawaii</option>-->
<!--												<option value="CA">California</option>-->
<!--												<option value="NV">Nevada</option>-->
<!--												<option value="OR">Oregon</option>-->
<!--												<option value="WA">Washington</option>-->
<!--												<option value="AZ">Arizona</option>-->
<!--												<option value="CO">Colorado</option>-->
<!--												<option value="ID">Idaho</option>-->
<!--												<option value="MT">Montana</option>-->
<!--												<option value="NE">Nebraska</option>-->
<!--												<option value="NM">New Mexico</option>-->
<!--												<option value="ND">North Dakota</option>-->
<!--												<option value="UT">Utah</option>-->
<!--												<option value="WY">Wyoming</option>-->
<!--												<option value="AL">Alabama</option>-->
<!--												<option value="AR">Arkansas</option>-->
<!--												<option value="IL">Illinois</option>-->
<!--												<option value="IA">Iowa</option>-->
<!--												<option value="KS">Kansas</option>-->
<!--												<option value="KY">Kentucky</option>-->
<!--												<option value="LA">Louisiana</option>-->
<!--												<option value="MN">Minnesota</option>-->
<!--												<option value="MS">Mississippi</option>-->
<!--												<option value="MO">Missouri</option>-->
<!--												<option value="OK">Oklahoma</option>-->
<!--												<option value="SD">South Dakota</option>-->
<!--												<option value="TX">Texas</option>-->
<!--												<option value="TN">Tennessee</option>-->
<!--												<option value="WI">Wisconsin</option>-->
<!--												<option value="CT">Connecticut</option>-->
<!--												<option value="DE">Delaware</option>-->
<!--												<option value="FL">Florida</option>-->
<!--												<option value="GA">Georgia</option>-->
<!--												<option value="IN">Indiana</option>-->
<!--												<option value="ME">Maine</option>-->
<!--												<option value="MD">Maryland</option>-->
<!--												<option value="MA">Massachusetts</option>-->
<!--												<option value="MI">Michigan</option>-->
<!--												<option value="NH">New Hampshire</option>-->
<!--												<option value="NJ">New Jersey</option>-->
<!--												<option value="NY">New York</option>-->
<!--												<option value="NC">North Carolina</option>-->
<!--												<option value="OH">Ohio</option>-->
<!--												<option value="PA">Pennsylvania</option>-->
<!--												<option value="RI">Rhode Island</option>-->
<!--												<option value="SC">South Carolina</option>-->
<!--												<option value="VT">Vermont</option>-->
<!--												<option value="VA">Virginia</option>-->
<!--												<option value="WV">West Virginia</option>-->
<!--											</select>-->
<!--										</div>-->

<!--										<div class="input-group flex-nowrap">-->
<!--											<select class="form-control kt-select2" id="kt_select2_group_2" name="param">-->
<!--												<option value="AK">Alaska</option>-->
<!--												<option value="HI">Hawaii</option>-->
<!--												<option value="CA">California</option>-->
<!--												<option value="NV">Nevada</option>-->
<!--												<option value="OR">Oregon</option>-->
<!--												<option value="WA">Washington</option>-->
<!--												<option value="AZ">Arizona</option>-->
<!--												<option value="CO">Colorado</option>-->
<!--												<option value="ID">Idaho</option>-->
<!--												<option value="MT">Montana</option>-->
<!--												<option value="NE">Nebraska</option>-->
<!--												<option value="NM">New Mexico</option>-->
<!--												<option value="ND">North Dakota</option>-->
<!--												<option value="UT">Utah</option>-->
<!--												<option value="WY">Wyoming</option>-->
<!--												<option value="AL">Alabama</option>-->
<!--												<option value="AR">Arkansas</option>-->
<!--												<option value="IL">Illinois</option>-->
<!--												<option value="IA">Iowa</option>-->
<!--												<option value="KS">Kansas</option>-->
<!--												<option value="KY">Kentucky</option>-->
<!--												<option value="LA">Louisiana</option>-->
<!--												<option value="MN">Minnesota</option>-->
<!--												<option value="MS">Mississippi</option>-->
<!--												<option value="MO">Missouri</option>-->
<!--												<option value="OK">Oklahoma</option>-->
<!--												<option value="SD">South Dakota</option>-->
<!--												<option value="TX">Texas</option>-->
<!--												<option value="TN">Tennessee</option>-->
<!--												<option value="WI">Wisconsin</option>-->
<!--												<option value="CT">Connecticut</option>-->
<!--												<option value="DE">Delaware</option>-->
<!--												<option value="FL">Florida</option>-->
<!--												<option value="GA">Georgia</option>-->
<!--												<option value="IN">Indiana</option>-->
<!--												<option value="ME">Maine</option>-->
<!--												<option value="MD">Maryland</option>-->
<!--												<option value="MA">Massachusetts</option>-->
<!--												<option value="MI">Michigan</option>-->
<!--												<option value="NH">New Hampshire</option>-->
<!--												<option value="NJ">New Jersey</option>-->
<!--												<option value="NY">New York</option>-->
<!--												<option value="NC">North Carolina</option>-->
<!--												<option value="OH">Ohio</option>-->
<!--												<option value="PA">Pennsylvania</option>-->
<!--												<option value="RI">Rhode Island</option>-->
<!--												<option value="SC">South Carolina</option>-->
<!--												<option value="VT">Vermont</option>-->
<!--												<option value="VA">Virginia</option>-->
<!--												<option value="WV">West Virginia</option>-->
<!--											</select>-->
<!--											<div class="input-group-append">-->
<!--												<span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Modal Demos</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<a href="#" class="btn btn-success btn-pill" data-toggle="modal" data-target="#kt_select2_modal">Launch modal select2s</a>
									</div>
								</div>
							</div>
							<div class="kt-portlet__foot">
								<div class="kt-form__actions">
									<div class="row">
										<div class="col-lg-9 ml-lg-auto">
											<button type="reset" class="btn btn-brand">Submit</button>
											<button type="reset" class="btn btn-secondary">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!--end::Form-->
					</div>
					<!--end::Portlet-->

					<!--begin::Modal-->
					<div class="modal fade" id="kt_select2_modal" role="dialog" aria-labelledby="" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="">Select2 Examples</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true" class="la la-remove"></span>
									</button>
								</div>
								<form class="kt-form kt-form--fit kt-form--label-right">
									<div class="modal-body">
										<div class="form-group row kt-margin-t-20">
											<label class="col-form-label col-lg-3 col-sm-12">Basic Example</label>
											<div class="col-lg-9 col-md-9 col-sm-12">
												<select class="form-control kt-select2" id="kt_select2_1_modal" name="param">
													<option value="AK">Alaska</option>
													<option value="HI">Hawaii</option>
													<option value="CA">California</option>
													<option value="NV">Nevada</option>
													<option value="OR">Oregon</option>
													<option value="WA">Washington</option>
													<option value="AZ">Arizona</option>
													<option value="CO">Colorado</option>
													<option value="ID">Idaho</option>
													<option value="MT">Montana</option>
													<option value="NE">Nebraska</option>
													<option value="NM">New Mexico</option>
													<option value="ND">North Dakota</option>
													<option value="UT">Utah</option>
													<option value="WY">Wyoming</option>
													<option value="AL">Alabama</option>
													<option value="AR">Arkansas</option>
													<option value="IL">Illinois</option>
													<option value="IA">Iowa</option>
													<option value="KS">Kansas</option>
													<option value="KY">Kentucky</option>
													<option value="LA">Louisiana</option>
													<option value="MN">Minnesota</option>
													<option value="MS">Mississippi</option>
													<option value="MO">Missouri</option>
													<option value="OK">Oklahoma</option>
													<option value="SD">South Dakota</option>
													<option value="TX">Texas</option>
													<option value="TN">Tennessee</option>
													<option value="WI">Wisconsin</option>
													<option value="CT">Connecticut</option>
													<option value="DE">Delaware</option>
													<option value="FL">Florida</option>
													<option value="GA">Georgia</option>
													<option value="IN">Indiana</option>
													<option value="ME">Maine</option>
													<option value="MD">Maryland</option>
													<option value="MA">Massachusetts</option>
													<option value="MI">Michigan</option>
													<option value="NH">New Hampshire</option>
													<option value="NJ">New Jersey</option>
													<option value="NY">New York</option>
													<option value="NC">North Carolina</option>
													<option value="OH">Ohio</option>
													<option value="PA">Pennsylvania</option>
													<option value="RI">Rhode Island</option>
													<option value="SC">South Carolina</option>
													<option value="VT">Vermont</option>
													<option value="VA">Virginia</option>
													<option value="WV">West Virginia</option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-lg-3 col-sm-12">Nested Example</label>
											<div class="col-lg-9 col-md-9 col-sm-12">
												<select class="form-control kt-select2" id="kt_select2_2_modal" name="param">
													<optgroup label="Alaskan/Hawaiian Time Zone">
														<option value="AK">Alaska</option>
														<option value="HI">Hawaii</option>
													</optgroup>
													<optgroup label="Pacific Time Zone">
														<option value="CA">California</option>
														<option value="NV" selected>Nevada</option>
														<option value="OR">Oregon</option>
														<option value="WA">Washington</option>
													</optgroup>
													<optgroup label="Mountain Time Zone">
														<option value="AZ">Arizona</option>
														<option value="CO">Colorado</option>
														<option value="ID">Idaho</option>
														<option value="MT">Montana</option>
														<option value="NE">Nebraska</option>
														<option value="NM">New Mexico</option>
														<option value="ND">North Dakota</option>
														<option value="UT">Utah</option>
														<option value="WY">Wyoming</option>
													</optgroup>
													<optgroup label="Central Time Zone">
														<option value="AL">Alabama</option>
														<option value="AR">Arkansas</option>
														<option value="IL">Illinois</option>
														<option value="IA">Iowa</option>
														<option value="KS">Kansas</option>
														<option value="KY">Kentucky</option>
														<option value="LA">Louisiana</option>
														<option value="MN">Minnesota</option>
														<option value="MS">Mississippi</option>
														<option value="MO">Missouri</option>
														<option value="OK">Oklahoma</option>
														<option value="SD">South Dakota</option>
														<option value="TX">Texas</option>
														<option value="TN">Tennessee</option>
														<option value="WI">Wisconsin</option>
													</optgroup>
													<optgroup label="Eastern Time Zone">
														<option value="CT">Connecticut</option>
														<option value="DE">Delaware</option>
														<option value="FL">Florida</option>
														<option value="GA">Georgia</option>
														<option value="IN">Indiana</option>
														<option value="ME">Maine</option>
														<option value="MD">Maryland</option>
														<option value="MA">Massachusetts</option>
														<option value="MI">Michigan</option>
														<option value="NH">New Hampshire</option>
														<option value="NJ">New Jersey</option>
														<option value="NY">New York</option>
														<option value="NC">North Carolina</option>
														<option value="OH">Ohio</option>
														<option value="PA">Pennsylvania</option>
														<option value="RI">Rhode Island</option>
														<option value="SC">South Carolina</option>
														<option value="VT">Vermont</option>
														<option value="VA">Virginia</option>
														<option value="WV">West Virginia</option>
													</optgroup>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-lg-3 col-sm-12">Multi Select</label>
											<div class="col-lg-9 col-md-9 col-sm-12">
												<select class="form-control kt-select2" id="kt_select2_3_modal" name="param" multiple="multiple">
													<optgroup label="Alaskan/Hawaiian Time Zone">
														<option value="AK" selected>Alaska</option>
														<option value="HI">Hawaii</option>
													</optgroup>
													<optgroup label="Pacific Time Zone">
														<option value="CA">California</option>
														<option value="NV" selected>Nevada</option>
														<option value="OR">Oregon</option>
														<option value="WA">Washington</option>
													</optgroup>
													<optgroup label="Mountain Time Zone">
														<option value="AZ">Arizona</option>
														<option value="CO">Colorado</option>
														<option value="ID">Idaho</option>
														<option value="MT" selected>Montana</option>
														<option value="NE">Nebraska</option>
														<option value="NM">New Mexico</option>
														<option value="ND">North Dakota</option>
														<option value="UT">Utah</option>
														<option value="WY">Wyoming</option>
													</optgroup>
													<optgroup label="Central Time Zone">
														<option value="AL">Alabama</option>
														<option value="AR">Arkansas</option>
														<option value="IL">Illinois</option>
														<option value="IA">Iowa</option>
														<option value="KS">Kansas</option>
														<option value="KY">Kentucky</option>
														<option value="LA">Louisiana</option>
														<option value="MN">Minnesota</option>
														<option value="MS">Mississippi</option>
														<option value="MO">Missouri</option>
														<option value="OK">Oklahoma</option>
														<option value="SD">South Dakota</option>
														<option value="TX">Texas</option>
														<option value="TN">Tennessee</option>
														<option value="WI">Wisconsin</option>
													</optgroup>
													<optgroup label="Eastern Time Zone">
														<option value="CT">Connecticut</option>
														<option value="DE">Delaware</option>
														<option value="FL">Florida</option>
														<option value="GA">Georgia</option>
														<option value="IN">Indiana</option>
														<option value="ME">Maine</option>
														<option value="MD">Maryland</option>
														<option value="MA">Massachusetts</option>
														<option value="MI">Michigan</option>
														<option value="NH">New Hampshire</option>
														<option value="NJ">New Jersey</option>
														<option value="NY">New York</option>
														<option value="NC">North Carolina</option>
														<option value="OH">Ohio</option>
														<option value="PA">Pennsylvania</option>
														<option value="RI">Rhode Island</option>
														<option value="SC">South Carolina</option>
														<option value="VT">Vermont</option>
														<option value="VA">Virginia</option>
														<option value="WV">West Virginia</option>
													</optgroup>
												</select>
											</div>
										</div>
										<div class="form-group row kt-margin-b-20">
											<label class="col-form-label col-lg-3 col-sm-12">Placeholder</label>
											<div class="col-lg-9 col-md-9 col-sm-12">
												<select class="form-control kt-select2" id="kt_select2_4_modal" name="param">
													<option></option>
													<optgroup label="Alaskan/Hawaiian Time Zone">
														<option value="AK">Alaska</option>
														<option value="HI">Hawaii</option>
													</optgroup>
													<optgroup label="Pacific Time Zone">
														<option value="CA">California</option>
														<option value="NV">Nevada</option>
														<option value="OR">Oregon</option>
														<option value="WA">Washington</option>
													</optgroup>
													<optgroup label="Mountain Time Zone">
														<option value="AZ">Arizona</option>
														<option value="CO">Colorado</option>
														<option value="ID">Idaho</option>
														<option value="MT">Montana</option>
														<option value="NE">Nebraska</option>
														<option value="NM">New Mexico</option>
														<option value="ND">North Dakota</option>
														<option value="UT">Utah</option>
														<option value="WY">Wyoming</option>
													</optgroup>
													<optgroup label="Central Time Zone">
														<option value="AL">Alabama</option>
														<option value="AR">Arkansas</option>
														<option value="IL">Illinois</option>
														<option value="IA">Iowa</option>
														<option value="KS">Kansas</option>
														<option value="KY">Kentucky</option>
														<option value="LA">Louisiana</option>
														<option value="MN">Minnesota</option>
														<option value="MS">Mississippi</option>
														<option value="MO">Missouri</option>
														<option value="OK">Oklahoma</option>
														<option value="SD">South Dakota</option>
														<option value="TX">Texas</option>
														<option value="TN">Tennessee</option>
														<option value="WI">Wisconsin</option>
													</optgroup>
													<optgroup label="Eastern Time Zone">
														<option value="CT">Connecticut</option>
														<option value="DE">Delaware</option>
														<option value="FL">Florida</option>
														<option value="GA">Georgia</option>
														<option value="IN">Indiana</option>
														<option value="ME">Maine</option>
														<option value="MD">Maryland</option>
														<option value="MA">Massachusetts</option>
														<option value="MI">Michigan</option>
														<option value="NH">New Hampshire</option>
														<option value="NJ">New Jersey</option>
														<option value="NY">New York</option>
														<option value="NC">North Carolina</option>
														<option value="OH">Ohio</option>
														<option value="PA">Pennsylvania</option>
														<option value="RI">Rhode Island</option>
														<option value="SC">South Carolina</option>
														<option value="VT">Vermont</option>
														<option value="VA">Virginia</option>
														<option value="WV">West Virginia</option>
													</optgroup>
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-brand" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-secondary">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!--end::Modal-->

					<!--begin::Portlet-->
					<div class="kt-portlet">
						<div class="kt-portlet__head">
							<div class="kt-portlet__head-label">
								<h3 class="kt-portlet__head-title">
									Validation State Examples
								</h3>
							</div>
						</div>
						<!--begin::Form-->
						<form class="kt-form kt-form--label-right">
							<div class="kt-portlet__body">
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Valid State</label>
									<div class="col-lg-4 col-md-9 col-sm-12 is-valid">
										<select class="form-control kt-select2" id="kt_select2_1_validate" name="param">
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
											<option value="WA">Washington</option>
											<option value="AZ">Arizona</option>
											<option value="CO">Colorado</option>
											<option value="ID">Idaho</option>
											<option value="MT">Montana</option>
											<option value="NE">Nebraska</option>
											<option value="NM">New Mexico</option>
											<option value="ND">North Dakota</option>
											<option value="UT">Utah</option>
											<option value="WY">Wyoming</option>
											<option value="AL">Alabama</option>
											<option value="AR">Arkansas</option>
											<option value="IL">Illinois</option>
											<option value="IA">Iowa</option>
											<option value="KS">Kansas</option>
											<option value="KY">Kentucky</option>
											<option value="LA">Louisiana</option>
											<option value="MN">Minnesota</option>
											<option value="MS">Mississippi</option>
											<option value="MO">Missouri</option>
											<option value="OK">Oklahoma</option>
											<option value="SD">South Dakota</option>
											<option value="TX">Texas</option>
											<option value="TN">Tennessee</option>
											<option value="WI">Wisconsin</option>
											<option value="CT">Connecticut</option>
											<option value="DE">Delaware</option>
											<option value="FL">Florida</option>
											<option value="GA">Georgia</option>
											<option value="IN">Indiana</option>
											<option value="ME">Maine</option>
											<option value="MD">Maryland</option>
											<option value="MA">Massachusetts</option>
											<option value="MI">Michigan</option>
											<option value="NH">New Hampshire</option>
											<option value="NJ">New Jersey</option>
											<option value="NY">New York</option>
											<option value="NC">North Carolina</option>
											<option value="OH">Ohio</option>
											<option value="PA">Pennsylvania</option>
											<option value="RI">Rhode Island</option>
											<option value="SC">South Carolina</option>
											<option value="VT">Vermont</option>
											<option value="VA">Virginia</option>
											<option value="WV">West Virginia</option>
										</select>
										<div class="valid-feedback">Success! You've done it.</div>
										<span class="form-text text-muted">Example help text that remains unchanged.</span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3 col-sm-12">Invalid State</label>
									<div class="col-lg-4 col-md-9 col-sm-12 is-invalid">
										<select class="form-control kt-select2" id="kt_select2_2_validate" name="param">
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV" selected>Nevada</option>
												<option value="OR">Oregon</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NM">New Mexico</option>
												<option value="ND">North Dakota</option>
												<option value="UT">Utah</option>
												<option value="WY">Wyoming</option>
											</optgroup>
											<optgroup label="Central Time Zone">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="IL">Illinois</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="OK">Oklahoma</option>
												<option value="SD">South Dakota</option>
												<option value="TX">Texas</option>
												<option value="TN">Tennessee</option>
												<option value="WI">Wisconsin</option>
											</optgroup>
											<optgroup label="Eastern Time Zone">
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="IN">Indiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="OH">Ohio</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WV">West Virginia</option>
											</optgroup>
										</select>
										<div class="invalid-feedback">Shucks, check the formatting of that and try again.</div>
										<span class="form-text text-muted">Example help text that remains unchanged.</span>
									</div>
								</div>
							</div>
							<div class="kt-portlet__foot">
								<div class="kt-form__actions">
									<div class="row">
										<div class="col-lg-9 ml-lg-auto">
											<button type="reset" class="btn btn-primary">Submit</button>
											<button type="reset" class="btn btn-secondary">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!--end::Form-->
					</div>
					<!--end::Portlet-->
				</div>
				<!-- end:: Content -->
			</div>

			<!-- begin:: Footer -->
			<div th:replace="templates/fragments :: xfooter"></div>
			<!-- end:: Footer -->
		</div>
	</div>
</div>

<!-- end:: Page -->
<div th:replace="templates/fragments :: flavours"></div>

<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
	var KTAppOptions = {
		colors: {
			state: {
				brand: "#1cac81",
				metal: "#c4c5d6",
				light: "#ffffff",
				accent: "#00c5dc",
				primary: "#5867dd",
				success: "#34bfa3",
				info: "#36a3f7",
				warning: "#ffb822",
				danger: "#fd3995",
				focus: "#9816f4",
			},
			base: {
				label: ["#b9bdc1", "#aeb2b7", "#414b4c", "#343d3e"],
				shape: ["#eef4f3", "#e0e9e6", "#80c3af", "#41675c"],
			},
		},
	};
</script>
<!-- end::Global Config -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script src="../../../themes/keen/theme/demo5/dist/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
<script src="../../../themes/keen/theme/demo5/dist/assets/js/scripts.bundle.js" type="text/javascript"></script>
<!--end::Global Theme Bundle -->

<!--begin::Page Scripts(used by this page) -->
<script src="../../../themes/keen/theme/demo5/dist/assets/js/pages/components/forms/widgets/select2.js" type="text/javascript"></script>
<!--end::Page Scripts -->
<script>
	//var inv;
	var theList = [[${investigationGroups}]];
	// for (i = 0; i < theList.length; i++) {
	// 	inv[i] = JSON.stringify(theList[i]);
	// }
	//console.log(inv);

</script>
</body>
<!-- end::Body -->
</html>
